<!doctype html>
<html>
<head>
    <meta charset="utf-16" />
    <title>{{> title}}</title>

    {{> meta}}

    <meta name="google-site-verification" content="MCWoFV6v5NAUmvUDPdvP3W6MMRBw12vQZAhb0Hfcees" />

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/modern-business.css" rel="stylesheet">

    <!--- Gallery -->
    <link rel="stylesheet" href="/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/css/bootstrap-image-gallery.min.css">

    <link href="/css/bootstrap-custom.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom-color" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="/">Δέσποινα Τσίγκα Μπούσια</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-left">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Έργα <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/work/#paidika">Παιδικά Δωμάτια</a></li>
                            <li><a href="/work/#portes">Πόρτες - Παράθυρα</a></li>
                            <li><a href="/work/#efivika">Εφηβικά Δωμάτια</a></li>
                            <li><a href="/work/#koutia">Κουτιά Βάπτισης</a></li>
                             <!--<li class="divider"></li>
                            <li><a href="#">Λοιπά Έργα</a></li> -->

                        </ul>
                    </li>


                    </li>
                    <li><a href="/#cv">Βιογραφικό</a></li>
                    <li><a href="/#contact">Επικοινωνία</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    {{{body}}}

    <div class="section-footer" id="footer">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Δέσποινα Τσίγκα Μπούσια 2013</p>
                </div>
            </div>
        </footer>
        </div>
    </div><!-- /.container -->

    <div class="section-ribbon">
        <div class="container">
           <div class="row">
                    <div class="col-lg-1 first">
                    </div>
                    <div class="col-lg-1 third">
                    </div>
                    <div class="col-lg-1 forth">
                    </div>
                   <div class="col-lg-1 first">
                   </div>
                   <div class="col-lg-1 third">
                   </div>
                   <div class="col-lg-1 forth">
                   </div>
                   <div class="col-lg-1 first">
                   </div>
                   <div class="col-lg-1 third">
                   </div>
                   <div class="col-lg-1 forth">
                   </div>
               <div class="col-lg-1 first">
               </div>
               <div class="col-lg-1 third">
               </div>
               <div class="col-lg-1 forth">
               </div>

           </div>
        </div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/modern-business.js"></script>
    <script src="/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/js/bootstrap-image-gallery.min.js"></script>

    <!-- Start of StatCounter Code -->

    <script type="text/javascript">
        var sc_project=5405527;
        var sc_invisible=1;
        var sc_partition=31;
        var sc_click_stat=1;
        var sc_security="4d0247da";
    </script>

    <script type="text/javascript"
            src="http://www.statcounter.com/counter/counter.js"></script>

    <noscript><div
            class="statcounter"><a title="counter for blogger"
                                   href="http://www.statcounter.com/blogger/"
                                   target="_blank"><img class="statcounter"
                                                        src="http://c.statcounter.com/5405527/0/4d0247da/1/"
                                                        alt="counter for blogger"/></a></div></noscript>
    <!-- End of StatCounter Code -->

</body>
</html>