<!doctype html>
<html>
<head>
    <meta charset="utf-16" />
    <title>{{> title}}</title>

    {{> meta}}

    <meta name="google-site-verification" content="MCWoFV6v5NAUmvUDPdvP3W6MMRBw12vQZAhb0Hfcees" />

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/bootstrap-custom.css" rel="stylesheet">
    <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">-->

</head>
<body>
    {{{body}}}
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
</body>
</html>