

<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li class="" data-slide-to="0" data-target="#myCarousel"></li>
        <li data-slide-to="1" data-target="#myCarousel"></li>
        <li data-slide-to="2" data-target="#myCarousel"></li>
        <li data-slide-to="3" data-target="#myCarousel"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('img/1.jpg');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('img/2.jpg');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('img/3.jpg');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('img/4.jpg');"></div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <p>Επειδή το παραμύθι και η φαντασία δεν είναι μόνο στα βιβλία ...</p>

            </div>
            <div class="col-lg-4 col-md-4">
                <p>Μεγαλώστε και ομορφύνετε το χώρο που ζείτε και εργάζεστε με σχέδια της αρεσκείας σας ζωγραφισμένα με το χέρι απ'αυθείας στον τοίχο.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <!--<h3><i class="icon-folder-open-alt"></i> Many Page Options</h3>-->
                <p>...ιστορίες που αγαπάμε</p>
                <p>...σκηνές που δεν συναντoύμε εύκολα στην καθημερινότητά</p>
                <p>...μοναδικά στιγμιότυπα από τη ζωή</p>
            </div>
        </div><!-- /.row -->

    </div><!-- /.container -->

</div><!-- /.section -->

<div class="section-yellow" id="work">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Έργα</h2>
            </div>
            {{#each albums}}
                <div class="col-lg-2 col-md-4 col-sm-6">

                    <a href="{{this.name}}"><img class="img-responsive img-polaroid img-home-portfolio" src="photos/{{this.thumb}}?tn=180"></a>
                </div>
            {{/each}}
        </div>

    </div><!-- /.container -->

</div><!-- /.section -->

<div class="section" id="cv">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-lg-offset-2 col-sm-12 text-center">
                <h2> Βιογραφικό</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 text-left">
            <p class="vio"> <img src="img/vio.jpg" alt="Εικόνα" class="img-thumbnail"> Η Δέσποινα, γεννήθηκε και μεγάλωσε στο Αγρίνιο. Στα 18 της χρόνια ξεκίνησε ελεύθερες σπουδές στην Αθήνα, όπου σπούδασε διακόσμηση, και συνέχισε στα Χανιά, όπου φοίτησε στη σχολή κεραμικής της Ιεράς Μητρόπολης Κισσάμου. </p>
            <p class="vio"> Το 1994 μαθήτευσε επί ένα έτος στη σχολή αγιογραφίας της Χριστιανικής Ενώσεως Νεανίδων και στην συνέχεια στη σχολή του Σπυρίδωνα Καρδαμάκη όπου ειδικεύτηκε στη φορητή εικόνα και την τοιχογραφία.
            Με την Βυζαντινή Αγιογραφία καθώς και τη διδασκαλία Αγιογραφίας ασχολείται επαγγελματικά μέχρι και σήμερα. (Πληροφορίες: <a href="http://bousias.gazette.gr" target="_blank">http://bousias.gazette.gr</a>) </p>
                <p class="vio"> Η ενασχόληση της με την τοιχογραφία ποικίλης θεματολογίας ξεκίνησε από την εποχή των σπουδών αγιογραφίας, ενώ τα τελευταία χρόνια οι τοιχογραφίες και η διακοσμήση παιδικών δωματίων, οικιών και επαγγελμάτικών χώρων αποτελούν αντικείμενο επαγγελματικής ενασχόλησης με αξιοσημείωτη επιτυχία.</p>
            <p class="vio"> Είναι μέλος του Καλλιτεχνικού Επιμελητηρίου Ελλάδος</p>
            </div>
        </div>

    </div><!-- /.container -->

</div><!-- /.section -->


<div class="section section-green" id="contact">

    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 text-left">
                <h2>Επικοινωνία</h2>
                <p> Δωρεάν και χωρίς καμία υποχρέωση, συνεργάτης μας επισκέπτεται το χώρο σας για να ακούσει τις ιδέες σας, να σας βοηθήσει να βρείτε μαζί τα σχέδια που ταιριάζουν στο σπίτι σας ή τον επαγγελματικό σας χώρο και να σας προτείνει λύσεις που απαντούν στις επιθυμίες σας μέσα στο πλαίσιο του χρηματικού ποσού που εσείς θέλετε να διαθέσετε.
                    Πλέον του νομού Αττικής, έργα αναλαμβάνονται σε όλη την Ελλάδα κατόπιν τηλεφωνικής επικοινωνίας,

                    <div class="bs-example">
                    Στοιχεία Επικοινωνίας:
                    Δέσποινα Τσίγκα Μπούσια
                    Τηλ:210-7753277
                    Κιν:6972-495807
                    e-mail: bousias@yahoo.com
                    </div>
            </div>

        </div>

    </div><!-- /.container -->

</div><!-- /.section -->
